<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>اولین پروژه جاوا اسکریپتی</title>

    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>

    
    <div id="first-app">
        <p class="paragraph">دوره آموزش جاوا اسکریپت</p>
    </div>    
    
    <div class="all-events">
        <form action="">
            <input type="text">
            <button type="submit">کلیک کنید</button>
        </form>
        
    </div>

    <ul>
        <li>
            <h3>شماره ۱</h3>
            <p>یک توضیح مختصر</p>
        </li>
        <li>
            <h3>شماره ۲</h3>
            <p>یک توضیح مختصر</p>
        </li>
        <li>
            <h3>شماره ۳</h3>
            <p>یک توضیح مختصر</p>
        </li>
        <li>
            <h3>شماره ۴</h3>
            <p>یک توضیح مختصر</p>
        </li>
        <li>
            <h3>شماره ۵</h3>
            <p>یک توضیح مختصر</p>
        </li>
    </ul>
    

    <!-- <div id="answer"></div>

    <button id="start-game" type="button">شروع بازی</button> -->

    <script src="../assets/js/converter.js"></script>
    <script src="../assets/js/event.js"></script>
    <!-- <script src="../assets/js/app.js"></script> -->
    
</body>
</html>